<html>
    <head>
        <title>Todo list</title>
        <link href="/css/style.css" rel="stylesheet" tpye="text/css"/>
    </head>

    <body>
        <div class="bg-gray-800 w-full h-full flex justify-evenly items-center">
            <h1 class="text-white font-bold text-6xl">HELLO WORLD</h1>
        </div>
    </body>
</html>